<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>
<%
  @item.in_mobile_size ||= @item.mobile_size / 1_024
%>

<%= f.ss_select_set :mobile_state, tt: true %>
<%= f.ss_field_set :mobile_size, tt: true do %>
  <div class="narrow">
    <div class="input-group">
      <%= f.number_field :in_mobile_size, value: @item.in_mobile_size %>
      <div class="input-group-append">
        <span class="input-group-text"><%= t("ss.units.mobile_size") %></span>
      </div>
    </div>
  </div>
<% end %>
<%= f.ss_field_set :mobile_location, tt: true %>
<%= f.ss_field_set :mobile_css, type: :text_area, value: @item.mobile_css == @item.default_mobile_css ? nil : @item.mobile_css.join("\n"), tt: true %>
