<%= f.ss_field_set :mobile_state, value: @item.label(:mobile_state), disabled: true %>

<%= f.ss_field_set :mobile_size, value: number_to_human_size(@item.mobile_size), disabled: true %>

<%= f.ss_field_set :mobile_location, disabled: true %>

<%= f.ss_field_set :mobile_css, disabled: true do %>
  <div id="item_mobile_css" class="form-control"><%= br(@item.mobile_css.join("\n")) %></div>
<% end %>
