<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_affair_label || t('modules.gws/affair'), gws_affair_main_path, class: "icon-attendance" %></h2>
  <h3><%= link_to t('modules.gws/affair/attendance/time_card'), gws_affair_attendance_time_card_main_path %></h3>

  <% if Gws::Affair::OvertimeFile.allowed?(:read, @cur_user, site: @cur_site) %>
    <% narrow_down_menus = [] %>
    <%
      if Gws::Affair::OvertimeFile.allowed?(:approve, @cur_user, site: @cur_site)
        narrow_down_menus << link_to(t("modules.gws/affair/overtime_file/approve"), gws_affair_overtime_files_path(state: "approve"))
      end
      if @cur_user.gws_role_permit_any?(@cur_site, :read_other_gws_affair_overtime_files)
        narrow_down_menus << link_to(t("modules.gws/affair/overtime_file/all"), gws_affair_overtime_files_path(state: "all"))
      end
    %>

    <h3><%= link_to(t('modules.gws/affair/overtime_file'), gws_affair_overtime_files_path(state: "request")) %></h3>
    <% if narrow_down_menus.present? %>
      <ul class="narrow-page">
        <% narrow_down_menus.each do |narrow_down_menu| %>
          <li><%= narrow_down_menu %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if Gws::Affair::LeaveFile.allowed?(:read, @cur_user, site: @cur_site) %>
    <% narrow_down_menus = [] %>
    <%
      if Gws::Affair::LeaveFile.allowed?(:approve, @cur_user, site: @cur_site)
        narrow_down_menus << link_to(t("modules.gws/affair/leave_file/approve"), gws_affair_leave_files_path(state: "approve"))
      end
      if @cur_user.gws_role_permit_any?(@cur_site, :read_other_gws_affair_leave_files)
        narrow_down_menus << link_to(t("modules.gws/affair/leave_file/all"), gws_affair_leave_files_path(state: "all"))
      end
    %>

    <h3><%= link_to t('modules.gws/affair/leave_file'), gws_affair_leave_files_path(state: "request") %></h3>
    <% if narrow_down_menus.present? %>
      <ul class="narrow-page">
        <% narrow_down_menus.each do |narrow_down_menu| %>
          <li><%= narrow_down_menu %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if %i[manage_private manage_all].find { |priv| Gws::Attendance::TimeCard.allowed?(priv, @cur_user, site: @cur_site) } %>
    <h3><%= link_to t("modules.gws/affair/attendance/management/time_card"), gws_affair_attendance_management_main_path, class: "management" %></h3>
  <% end %>

  <% if Gws::Affair::DutyHour.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("modules.gws/affair/overtime_file/management/aggregate"), gws_affair_overtime_management_aggregate_path(threshold: "under"), class: "management" %></h3>
    <h3><%= link_to t("modules.gws/affair/duty_calendar"), gws_affair_duty_calendars_path, class: "management" %></h3>
    <h3><%= link_to t("modules.gws/affair/duty_hour"), gws_affair_duty_hours_path, class: "management" %></h3>
    <h3><%= link_to t("modules.gws/affair/holiday_calendar"), gws_affair_holiday_calendars_path, class: "management" %></h3>
    <h3><%= link_to t("modules.gws/affair/capital"), gws_affair_capitals_path, class: "management" %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
