<%
  capital_options = Gws::Affair::Capital.site(@cur_site).
    readable(@cur_user, site: @cur_site).pluck(:name, :id)
%>

<%= jquery do %>
$('#ajax-form').ajaxForm({
  success: function(data) {
    $("#addon-gws-agents-addons-affair-overtime_result .overtime-results").replaceWith(data);
    $.colorbox.close();
    SS.notice('<%= t('ss.notice.saved') %>');
  },
  error: function(data, status, err) {
    resp = eval(data.responseText);
    alert(resp.join("\n"));
  }
});
var setResult = function() {
  var item = $(this).closest(".item").clone();
  $(item).find("input").val("");
  $(item).find("select").val("");
  $(item).find(".set-result").on("click", setResult);
  $(item).find(".delete-result").on("click", deleteResult);

  $(".items").append(item);
  SS.renderDateTimePicker();
  return false;
};
var deleteResult = function() {
  var item = $(this).closest(".item");
  if($(item).find(".start-at").val() || $(item).find(".end-at").val() || $(item).find("select").val()){
    if(!confirm('削除してよろしいですか？')) {
      return false;
    }
  }
  if ($(".items .item").length > 1) {
    $(item).remove();
  } else {
    $(item).find("input").val("");
    $(item).find("select").val("");
    $(item).find(".set-result").on("click", setResult);
  }
  return false;
};
$(".set-result").on("click", setResult);
$(".delete-result").on("click", deleteResult);

<% end %>

<%= form_tag({ action: :update }, { id: "ajax-form", method: :put, autocomplete: :off }) do %>

<table class="index overtime-results">
  <thead class="list-head">
    <tr>
      <th class="start-at"><%= Gws::Affair::OvertimeResult.t("start_at") %></th>
      <th class="end-at"><%= Gws::Affair::OvertimeResult.t("end_at") %></th>
      <th class="capital"><%= Gws::Affair::OvertimeResult.t("capital_id") %></th>
      <th class="set"></th>
      <th class="delete"></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @item.results.each do |result| %>
      <tr class="item">
        <td class="start-at"><%= text_field_tag "item[in_results][][start_at]", result.start_at.strftime("%H:%M"), "class" => "date js-time start-at", "data-defaulttime" => @item.start_at.strftime("%H:%M") %></td>
        <td class="end-at"><%= text_field_tag "item[in_results][][end_at]", result.end_at.strftime("%H:%M"), "class" => "date js-time end-at", "data-defaulttime" => @item.start_at.strftime("%H:%M") %></td>
        <td class="capital"><%= select_tag "item[in_results][][capital_id]", options_for_select(capital_options, selected: result.capital_id), include_blank: true %></td>
        <td class="set"><%= button_tag "設定", class: "btn set-result" %></td>
        <td class="delete"><%= button_tag "削除", class: "btn delete-result" %></td>
      </tr>
    <% end %>
    <tr class="item">
      <td class="start-at"><%= text_field_tag "item[in_results][][start_at]", "", class: "date js-time start-at", "data-defaulttime" => @item.start_at.strftime("%H:%M") %></td>
      <td class="end-at"><%= text_field_tag "item[in_results][][end_at]", "", class: "date js-time end-at", "data-defaulttime" => @item.start_at.strftime("%H:%M") %></td>
      <td class="capital"><%= select_tag "item[in_results][][capital_id]", options_for_select(capital_options), include_blank: true %></td>
      <td class="set"><%= button_tag "設定", class: "btn set-result" %></td>
      <td class="delete"><%= button_tag "削除", class: "btn delete-result" %></td>
    </tr>
  </tbody>
</table>

<footer class="send">
  <%= submit_tag t("ss.buttons.save"), class: "btn-primary save" %>
  <%= link_to t("ss.buttons.cancel"), "", class: "btn btn-default", onclick: "$.colorbox.close(); return false;" %>
</footer>

<% end %>
