<table class="index overtime-results">
  <thead>
  <tr>
    <th><%= "日付" %></th>
    <th><%= Gws::Affair::OvertimeResult.t("start_at") %></th>
    <th><%= Gws::Affair::OvertimeResult.t("end_at") %></th>
    <th><%= Gws::Affair::OvertimeResult.t("capital_id") %></th>
  </tr>
  </thead>
  <tbody>
  <% @item.results.each do |result| %>
    <tr>
      <td><%= result.start_at.strftime("%Y/%m/%d") %></td>
      <td><%= result.start_at.strftime("%H:%M") %></td>
      <td><%= result.end_at.strftime("%H:%M") %></td>
      <td><%= result.capital.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
