<% @items.each do |year, capital_id_minute| %>
  <% total = 0 %>
  <div class="attendance-box monthly">
    <div class="attendance-box-title"><%= "#{year}年" %></div>
    <div class="attendance-box-main main">
      <table class="affair-overtime-aggregate">
        <%
          capital_id_minute = capital_id_minute.sort_by { |capital_id, _| @capitals[capital_id] ? @capitals[capital_id].order : -1  }
          capital_id_minute.each do |capital_id, minute|
        %>
          <%
            total += minute
            capital = @capitals[capital_id]
          %>
          <tr>
            <th><%= capital ? capital.name : "" %></th>
            <td><%= "#{minute / 60}:#{format("%02d", (minute % 60))}" %></td>
          </tr>
        <% end %>
        <tr>
          <th class="total"><%= "合計" %></th>
          <td class="total"><%= "#{total / 60}:#{format("%02d", (total % 60))}" %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
