<%

if params[:controller] =~ /^gws/
  approvers_path = method(:gws_workflow_search_approvers_path)
else
  approvers_path = method(:workflow_search_approvers_path)
end

%>

<% 1.upto(@model::MAX_APPROVERS) do |level| %>
  <h3 class="workflow-level-header workflow-level-<%= level %>"><%= @model.t :level, level: level %></h3>

  <%= f.ss_field_set :required_counts, tt: true do %>
    <%= select_tag "#{f.object_name}[required_counts][]", options_for_select(@item.required_count_options, @item.required_count_at(level)), id: nil %>
  <% end %>
  <%= f.ss_field_set :approver_attachment_uses, tt: true do %>
    <%= select_tag "#{f.object_name}[approver_attachment_uses][]", options_for_select(@item.approver_attachment_use_options, @item.approver_attachment_use_at(level)), id: nil, include_blank: true %>
  <% end %>
  <%= f.ss_field_set :approvers, tt: true do %>
    <% render_template = proc do |level, user_id, user_long_name, editable| %>
      <tr data-id="<%= "#{level},#{user_id}" %>">
        <td>
          <%= hidden_field_tag("#{f.object_name}[approvers][][level]", level, id: nil) %>
          <%= hidden_field_tag("#{f.object_name}[approvers][][user_id]", user_id, id: nil) %>
          <%= user_long_name %>
        </td>
        <td>
          <%= check_box_tag("#{f.object_name}[approvers][][editable]", 1, editable, id: nil) %>
        </td>
        <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
      </tr>
    <% end %>

    <div class="ajax-select">
      <%= link_to t("workflow.search_approvers.index"), approvers_path.call(level: level), class: "ajax-box approvers btn btn-outline-secondary btn-sm" %>
      <%= f.hidden_field("approvers[]", id: nil, value: "", class: "ajax-hidden-ids") %>

      <div class="table-responsive">
        <table class="index ajax-selected table table-striped">
          <thead>
            <tr>
              <th class="name"><%= @model.t :name %></th>
              <th><%= t('ss.buttons.edit') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @item.approver_users_at(level).each do |user| %>
              <% if user.present? %>
                <% render_template.call(level, user.id, user.long_name, @item.approver_user_editable?(level, user)) %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <script type="text/html" class="ajax-item-template">
        <% render_template.call(level, "#userid", "#name", false) %>
      </script>
    </div>
  <% end %>
<% end %>
