<% if @item.locked? && !@item.lock_owned? %>
  <div class="col12 mb-3">
    <div><%= t("errors.messages.locked", user: @item.lock_owner.long_name) %></div>
    <% if @item.allowed?(:unlock, @cur_user, site: @cur_site, node: @cur_node) %>
    <div>
      <%= form_for :item, url: { action: :unlock }, html: { id: "item-form", method: :delete, multipart: true } do |f| %>
        <%= hidden_field_tag "force", "true" %>
        <button name="button" type="submit" class="release-lock btn btn-outline-secondary"><%= t("ss.buttons.unlock_and_edit_forcibly") %></button>
      <% end %>
    </div>
    <% end %>
  </div>

  <%= jquery do %>
    var self = $('#addon-cms-agents-addons-edit_lock');
    var top = $('#addon-basic');
    top.before(self);
  <% end %>
<% end %>
