<%= f.ss_field_set :max_file_size_setting, label: nil, disabled: true do %>
  <div>
    <%= link_to t("cms.add_max_file_size"), node_max_file_sizes_path(cid: @item.id) %>
    <%= @model.tt :max_file_size_setting %>
  </div>

  <% model = Cms::MaxFileSize %>
  <% items = model.site(@cur_site).node(@item) %>
  <% if items.present? %>
    <div class="table-responsive">
      <table class="index table table-striped">
        <thead>
          <tr>
            <th><%= model.t :name %></th>
            <th><%= model.t :extensions %></th>
            <th><%= model.t :size %></th>
            <th><%= model.t :state %></th>
          </tr>
        </thead>
        <tbody>
          <% items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.extensions %></td>
              <td><%= number_to_human_size(item.size) %></td>
              <td><%= item.label(:state) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
