<%= f.ss_field_set :name, disabled: true %>
<%= f.ss_field_set :host, disabled: true %>
<%= f.ss_field_set :domains, disabled: true %>
<%= f.ss_field_set :subdir, disabled: true %>
<%= f.ss_field_set :https, value: @item.label(:https), disabled: true %>
<%= f.ss_field_set :mypage_scheme, value: @item.label(:mypage_scheme), disabled: true %>
<%= f.ss_field_set :login_url, label: t("ss.login_url"), disabled: true do %>
  <div id="item_login_url" class="form-control">
    <%= link_to cms_login_url, cms_login_url %>
  </div>
<% end %>
