<% addon ||= local_assigns.fetch(:addon, {}) %>
<% addon_id = addon.fetch(:id, "addon-#{Time.zone.now.to_i}") %>
<% addon_head ||= addon.fetch(:head, nil) %>
<% addon_classes ||= Array[addon.fetch(:class, nil)].flatten.compact %>
<% addon_toggle ||= addon.fetch(:toggle, false) %>

<% addon_view_classes = %w(addon-view mb-5) + addon_classes %>
<% addon_head_classes = %w(addon-head h4) + (addon_toggle ? %w(toggle-head) : []) + addon_classes %>
<% addon_body_classes = %w(addon-body) + (addon_toggle ? %w(toggle-body) : []) + addon_classes %>

<div class="<%= addon_view_classes.join(' ') %>" id="<% addon_id %>">
  <fieldset class="see" disabled>
    <% if addon_head %><h2 class="<%= addon_head_classes.join(' ') %>"><%= addon_head %></h2><% end %>
    <div class="<%= addon_body_classes.join(' ') %>">
      <%= yield %>
    </div>
  </fieldset>
</div>
