<% addons = @addons || @item.try(:addons) || [] %>
<% @addon_navi = proc { render file: "_addon_navi" } %>

<% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
<div id="menu"><%= render partial: "menu" %></div>
<% elsif controller.menu_view_file %>
<div id="menu"><%= render partial: controller.menu_view_file %></div>
<% end %>

<%= form_for :item, url: nil, html: { id: "item-form", method: "get", multipart: true, autocomplete: :off, enforce_utf8: false } do |f| %>
  <div class="addon-views">
    <%
      addon_options = {}
      addon_options[:id] = "addon-basic"
      addon_options[:head] = @addon_basic_name || t("ss.basic_info") if addons.size > 0
    %>
    <%= render "ss/crud/addon_show", addon: addon_options do %>
      <%= render file: "_show", locals: { f: f } %>
    <% end %>
    <%= render file: "_addons_show", locals: { f: f, addons: addons } if addons.size > 0 %>
  </div>
<% end %>
