<% return if @item.workflow_state != "approve" %>

<dl class="see addon-gws-affair-overtime_result">
  <% if @item.results.present? %>
    <table class="index overtime-results">
      <thead>
        <tr>
          <th><%= "日付" %></th>
          <th><%= Gws::Affair::OvertimeResult.t("start_at") %></th>
          <th><%= Gws::Affair::OvertimeResult.t("end_at") %></th>
          <th><%= Gws::Affair::OvertimeResult.t("capital_id") %></th>
        </tr>
      </thead>
      <tbody>
      <% @item.results.each do |result| %>
        <tr>
          <td><%= result.start_at.strftime("%Y/%m/%d") %></td>
          <td><%= result.start_at.strftime("%H:%M") %></td>
          <td><%= result.end_at.strftime("%H:%M") %></td>
          <td><%= result.capital.try(:name) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to t("gws/affair.links.edit_results"), edit_gws_affair_apis_overtime_result_path(id: @item.id), class: "ajax-box" %>
  <% else %>
    <div class="overtime-results"></div>
    <%= link_to t("gws/affair.links.set_results"), edit_gws_affair_apis_overtime_result_path(id: @item.id), class: "ajax-box" %>
  <% end %>
</dl>
