<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= f.ss_field_set :file_resizing, tt: true do %>
  <div class="narrow">
    <label class="width">
      <span class="prefix"><%= @item.t :file_resizing_width %></span>
      <%= f.number_field :in_file_resizing_width, value: @item.file_resizing[0] %>
    </label>
    <label class="height">
      <span class="prefix"><%= @item.t :file_resizing_height %></span>
      <%= f.number_field :in_file_resizing_height, value: @item.file_resizing[1] %>
    </label>
  </div>
<% end %>

<%= f.ss_select_set :multibyte_filename_state, tt: true, include_blank: true %>
