<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:disabled] = false
%>

<%= f.ss_field_set :name, disabled: true %>

<%= f.ss_field_set :order, disabled: true %>

<%= f.ss_field_set :state, value: @item.label(:state), disabled: true %>

<%= f.ss_field_set :column_ids do %>
  <div><%= link_to(t('cms.buttons.manage_columns'), cms_form_columns_path(form_id: @item), class: :btn) %></div>

  <% if @item.columns.present? %>
  <div class="table-responsive">
    <table class="table table-striped index">
      <thead>
      <tr>
        <th class="order"><%= Cms::Column::Base.t :order %></th>
        <th class="name"><%= Cms::Column::Base.t :name %></th>
        <th class="name"><%= Cms::Column::Base.t :route %></th>
        <th class="required"><%= Cms::Column::Base.t :required %></th>
        <th class="datetime"><%= Cms::Column::Base.t :updated %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.columns.order_by(order: 1).each do |column| %>
        <tr data-id="<%= column.id %>">
          <td><%= column.order %></td>
          <td><%= column.name %> </td>
          <td><%= column.class.model_name.human %> </td>
          <td><%= column.label :required %></td>
          <td><%= I18n.l(column.updated) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% end %>
