<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:disabled] = false

  htmls = [
    render(file: "workflow/agents/addons/approver/_show_approval", locals: { f: f }),
    render(file: "workflow/agents/addons/approver/_show_workflow", locals: { f: f })
  ]
  htmls = htmls.select(&:presence)

  return if htmls.blank?
%>

<%= jquery do %>
  var options = {};
  options.request_url = "<%= request.url %>";
  options.workflow_node = "workflow" + "<%= @cur_node? @cur_node.id : "" %>";
  options.redirect_location = "<%= @item.try(:branch?) ? @item.master.private_show_path : "" %>";
  options.user_id = <%= @cur_user.id %>;
  options.errors = {};
  options.errors.not_select = "<%= @model.t :workflow_approvers %><%= t("errors.messages.not_select") %>";

  var workflow = new SS_Workflow('.mod-workflow', options);
<% end %>

<div class="mod-workflow">
  <% htmls.each do |html| %>
    <%= html %>
  <% end %>
</div>
