<%
if @ss_mode == :gws
  approve_update_path = method(:approve_update_gws_workflow_page_path)
else
  approve_update_path = method(:approve_update_workflow_page_path)
end
%>
<% if @item.state == "closed" %>
  <% if @item.allowed?(:approve, @cur_user, site: @cur_site) && @item.workflow_state == "request" %>
    <% @item.workflow_pull_up_approvers_at(@item.workflow_current_level).each do |workflow_approver| %>
      <% next if @cur_user._id != workflow_approver[:user_id] || @item.approve_disabled?(workflow_approver[:state]) %>

      <%= render "ss/crud/addon_form", addon: { id: "workflow-approval", head: "#{t("workflow.buttons.approve")}/#{t("workflow.buttons.remand")}" } do %>
        <div class="mb-3">
          <%= @model.tt :approve_remand %>
          <%= text_area_tag :workflow_comment, "", class: "form-control" %>
        </div>

        <% if @ss_mode == :gws && @item.workflow_approver_attachment_enabled_at?(workflow_approver[:level]) %>
          <div class="upload mb-3">
            <span class="upload-menu-new">
              <%= link_to t('workflow.links.approver_file_upload'), sns_apis_temp_files_path(@cur_user), class: "ajax-box btn btn-file-upload" %>
            </span>
            <div class="upload-drop-area">
              <span class="upload-drop-notice"><%= t('workflow.notice.approver_file_droppable') %></span>
            </div>
            <div id="selected-files"></div>
          </div>
        <% end %>

        <div class="buttons">
          <% if workflow_approver[:state] == 'request' %>
            <%= button_tag t("workflow.buttons.approve"), { type: :button, updatetype: :approve, class: "update-item btn btn-primary" } %>
            <%= button_tag t("workflow.buttons.remand"), { type: :button, updatetype: :remand, class: "update-item btn btn-default" } %>
          <% elsif workflow_approver[:state] == 'pending' %>
            <%= button_tag t("workflow.buttons.pull_up"), { type: :button, updatetype: :pull_up, class: "update-item btn btn-primary" } %>
          <% end %>
        </div>

        <% if @ss_mode == :cms %>
          <div class="checkbox">
            <label>
              <%= check_box_tag 'forced-update', true, @cur_site.forced_update == "enabled", class: 'forced' %><%= t("errors.messages.forced_update") %>
            </label>
          </div>
        <% end %>
      <% end %>

      <% break %>
    <% end %>
  <% end %>

  <% if @item.allowed?(:edit, @cur_user, site: @cur_site) && @item.workflow_member.blank? %>
    <% if @item.try(:cloned_name?) %>
      <section class="mod-workflow-request">
        <h1><%= t("errors.messages.invalid_approve_name") %></h1>
      </section>
    <% elsif !@item.workflow_requested? %>
      <section class="mod-workflow-request">
        <div class="see request-setting workflow-partial-section"></div>
      </section>
    <% end %>
  <% end %>
<% end %>

<% if @ss_mode == :gws && @item.workflow_state == @model::WORKFLOW_STATE_APPROVE %>
  <% @item.workflow_circulations.each_with_index do |workflow_circulation, index| %>
    <% user_id = workflow_circulation[:user_id] %>
    <% state = workflow_circulation[:state] %>
    <% level = workflow_circulation[:level] %>
    <% if user_id == @cur_user.id && state == "unseen" %>
      <section class="mod-workflow-approve">
        <div class="addon-view">
          <div class="addon-head">
            <h2><%= t("workflow.circulation_step") %><%= @model.tt(:circulation_step) %></h2>
          </div>
          <div class="addon-body">
            <%= text_area :remand, :comment, value: "" %>
            <% if @item.workflow_circulation_attachment_enabled_at?(level) %>
              <div class="upload">
                <span class="upload-menu-new">
                  <%= link_to t('workflow.links.approver_file_upload'), sns_apis_temp_files_path(@cur_user), class: "ajax-box btn btn-file-upload" %>
                </span>
                <div class="upload-drop-area">
                  <span class="upload-drop-notice"><%= t('workflow.notice.approver_file_droppable') %></span>
                </div>
                <div id="selected-files"></div>
              </div>
            <% end %>

            <div class="buttons">
              <%= button_tag t("workflow.links.set_seen"), { updatetype: :seen, class: "update-item btn-primary" } %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>
<% end %>
