<%= jquery do %>
  $("#random-password").click(function() {
    $("#item_in_password").attr({ type: 'text' }).val(SS.randomPassword());
  });
<% end %>

<%= f.ss_field_set :name, tt: true %>

<%= f.ss_field_set :kana, tt: true %>

<%= f.ss_field_set :uid, tt: true %>

<%= f.ss_field_set :organization_uid, tt: true %>

<%= f.ss_field_set :email, type: :email, tt: true %>

<%= f.ss_field_set :in_password, tt: true do %>
  <div class="input-group" style="width: 300px;">
    <%= f.password_field :in_password %>
    <%= button_tag t("ss.buttons.random_password"), type: :button, id: "random-password", class: "btn" %>
  </div>
  <span id="random-password-view"></span>
<% end %>

<%= f.ss_field_set :tel, type: :tel, tt: true %>

<%= f.ss_field_set :tel_ext, type: :tel, tt: true %>

<%= f.ss_field_set :type, tt: true do %>
  <%= f.select :type, @item.type_options %>
<% end %>

<%= f.ss_field_set :account_start_date, tt: true %>

<%= f.ss_field_set :account_expiration_date, tt: true %>

<%= f.ss_field_set :initial_password_warning, tt: true do %>
  <%= f.select :initial_password_warning, @item.initial_password_warning_options %>
<% end %>

<%= f.ss_field_set :session_lifetime, tt: true do %>
  <%= f.number_field :session_lifetime, autocomplete: :on, list: :session_lifetime %>
  <datalist id="session_lifetime">
    <% @item.session_lifetime_options.each do |label, value| %>
      <option label="<%= label %>" value="<%= value %>">
    <% end %>
  </datalist>
<% end %>

<%= f.ss_field_set :restriction, tt: true do %>
  <%= f.select :restriction, @item.restriction_options %>
<% end %>

<%= f.ss_field_set :lock_state, tt: true do %>
  <%= f.select :lock_state, @item.lock_state_options %>
<% end %>

<%= f.ss_field_set :organization_id, tt: true do %>
  <%= f.select :organization_id, @item.organization_id_options %>
<% end %>

<%= f.ss_field_set :group_ids, tt: true do %>
  <% render_template = proc do |id, name| %>
    <tr data-id="<%= id %>">
      <td><%= f.hidden_field "group_ids[]", id: nil, value: id %> <%= name %></td>
      <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect" %></td>
    </tr>
  <% end %>

  <div class="ajax-select">
    <%= link_to t("ss.apis.groups.index"), sys_apis_groups_path, class: "ajax-box btn btn-outline-secondary btn-sm" %>
    <%= f.hidden_field "group_ids[]", id: nil, value: "", class: "ajax-hidden-ids" %>

    <div class="table-responsive">
      <table class="index ajax-selected table table-striped">
        <thead>
          <tr>
            <th class="name"><%= Sys::Group.t :name %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @item.groups.each do |group| %>
            <% render_template.call(group.id, group.name) %>
          <% end %>
        </tbody>
      </table>
    </div>

    <script type="text/html" class="ajax-item-template">
      <% render_template.call("#id", "#name") %>
    </script>
  </div>
<% end %>

<%= f.ss_field_set :remark, type: :text_area, tt: true %>
