<%= f.ss_field_set :name, disabled: true %>
<%= f.ss_field_set :kana, disabled: true %>
<%= f.ss_field_set :uid, disabled: true %>
<% if @item.organization_uid.present? %>
  <%= f.ss_field_set :organization_uid, disabled: true %>
<% end %>
<%= f.ss_field_set :email, type: :email, disabled: true %>
<%= f.ss_field_set :tel, type: :tel, disabled: true %>
<%= f.ss_field_set :tel_ext, type: :tel, disabled: true %>
<%= f.ss_field_set :type, value: @item.label(:type), disabled: true %>
<%= f.ss_field_set :account_start_date, disabled: true %>
<%= f.ss_field_set :account_expiration_date, disabled: true %>
<%= f.ss_field_set :initial_password_warning, type: :text, value: @item.label(:initial_password_warning), disabled: true %>

<%= f.ss_field_set :session_lifetime, type: :text, value: @item.session_lifetime_label, disabled: true %>

<% if @item.restriction.present? %>
  <%= f.ss_field_set :restriction, value: @item.label(:restriction), disabled: true %>
<% end %>

<%= f.ss_field_set :lock_state, value: @item.label(:lock_state), disabled: true %>

<% if @item.organization.present? %>
  <%= f.ss_field_set :organization_id, value: @item.organization.name, disabled: true %>
<% end %>

<%= f.ss_field_set :group_ids, disabled: true do %>
  <div id="item_group_ids" class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <% @item.groups.order_by(name: 1).pluck(:name).each do |group_name| %>
        <tr>
          <td><%= group_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @item.remark.present? %>
  <%= f.ss_field_set :remark, type: :text_area, value: @item.remark, disabled: true %>
<% end %>
