<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @cur_form.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <div id="nav-menu-new" class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t('ss.links.new') %>
        </a>
        <div class="dropdown-menu">
          <% column_type_options.each_with_index do |mod_def, index| %>
            <% if index > 0 %>
              <div class="dropdown-divider"></div>
            <% end %>
            <div class="dropdown-item-text menu-header"><%= mod_def[1][:name] %></div>
            <% mod_def[1][:items].each do |name, type| %>
              <%= link_to(name, new_cms_form_columns_type_path(form_id: @cur_form, type: type), class: 'dropdown-item menu-item depth-1') %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @cur_form.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.download'), { action: :download }, class: "btn btn-outline-primary download") rescue nil %>
    <% end %>
    <% if @cur_form.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.import'), { action: :import }, class: "btn btn-outline-primary import") rescue nil %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|download|import/ %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "btn btn-outline-primary back-to-index" %>
  <% elsif params[:action] =~ /edit|update|delete|move|contains_urls/ %>
    <% if @cur_form.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.back_to_show'), { action: :show, id: @item }, class: "btn btn-outline-primary back-to-show" %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "btn btn-outline-primary back-to-index" %>
  <% else %>
    <% if @cur_form.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.edit'), { action: :edit, id: @item }, class: "btn btn-outline-primary edit" %>
    <% end %>
    <% if @cur_form.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.copy'), { action: :copy, id: @item }, class: "btn btn-outline-primary copy") rescue nil %>
    <% end %>
    <% if @cur_form.allowed?(:move, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.move'), { action: :move, id: @item }, class: "btn btn-outline-primary move") rescue nil %>
    <% end %>
    <% if @cur_form.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.delete'), { action: :delete, id: @item }, class: "btn btn-outline-primary delete" %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "btn btn-outline-primary back-to-index" %>
  <% end %>
</nav>

<style>
  #nav-menu-new .depth-1 {
    padding-left: 3rem;
  }
</style>
