<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:head] = t("ss.basic_info")
%>

<%= f.ss_field_set :route, value: @item.class.model_name.human, disabled: true %>

<%= f.ss_field_set :name, disabled: true %>

<%= f.ss_field_set :order, disabled: true %>

<%= f.ss_field_set :required, value: @item.label(:required), disabled: true %>

<%= f.ss_field_set :tooltips, disabled: true do %>
  <div>
    <%= br @item.tooltips %>
  </div>
<% end %>
