<%= f.ss_field_set :group, label: t("cms.group") do %>
  <div class="btn-group">
    <button type="button" id="s_group" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @group.try(:name) %>
    </button>
    <div class="dropdown-menu" aria-labelledby="s_group">
      <% @groups.each do |item| %>
        <%= link_to item.trailing_name, "#", class: "dropdown-item select-group depth-#{item.depth} #{item.id == @group.id ? "active" : nil}", data: { id: item.id, depth: item.depth } %>
      <% end %>
    </div>
  </div>
  <%= hidden_field_tag("s[group]", @group.try(:id), id: nil) %>
<% end %>

<style>
  form.search .depth-1 {
    padding-left: 3rem;
  }
  form.search .depth-2 {
    padding-left: 4.5rem;
  }
  form.search .depth-3 {
    padding-left: 6rem;
  }
  form.search .depth-4 {
    padding-left: 7.5rem;
  }
  form.search .depth-5 {
    padding-left: 9rem;
  }
  form.search .depth-6 {
    padding-left: 10.5rem;
  }
  form.search .depth-7 {
    padding-left: 12rem;
  }
</style>

<%= jquery do %>
  $("#ajax-box form.search .select-group").on("click", function(e) {
    var id = $(e.target).data("id");
    $("#ajax-box form.search input[name='s[group]']").val(id);
    $("#ajax-box form.search").submit();

    e.preventDefault();
    e.stopPropagation();
    return false;
  });
<% end %>
