<%= code_editor "#addon-event-agents-addons-page_list .html", mode: :html %>
<%= jquery do %> Cms_Editor_CodeMirror.lock('#item_loop_setting_id', '#item_loop_html'); <% end %>

<%= f.ss_field_set :conditions, type: :text_area, tt: true, value: @item.conditions.join("\n"), style: "height: 100px;" %>

<%= f.ss_select_set :sort, tt: true, include_blank: true %>

<%= f.ss_field_set :limit, tt: true %>

<%= f.ss_field_set :upper_html, type: :text_area, tt: true, class: "html", rows: 6 %>

<%= f.ss_field_set :loop_html, tt: true do %>
  <%= f.select :loop_setting_id, ancestral_loop_settings, include_blank: t('cms.input_directly') %>
  <%= f.text_area :loop_html, class: "html", rows: 6 %>
<% end %>

<%= f.ss_field_set :lower_html, type: :text_area, tt: true, class: "html", rows: 6 %>

<%= f.ss_field_set :new_days, tt: true do %>
  <div class="short">
    <div class="input-group" style="width: 12em;">
      <%= f.number_field :new_days %><span class="input-group-append"><%= t "datetime.prompts.day" %></span>
    </div>
  </div>
<% end %>
