<% return "" unless @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node)  %>
<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:disabled] = false
%>

<%= jquery do %>
  <%
    opts = {
      path: branch_create_workflow_page_path(id: @item.id),
      message: t("workflow.notice.branch_created")
    }
  %>
  new Cms_Branch(null, <%== opts.to_json %>);
<% end %>

<%
  @items = @item.branch? ? [@item.master] : @item.branches
%>

<% if @item.branch? %>
  <p class="text-info"><%= t("workflow.branch_message") %></p>
  <% caption = t("workflow.master_page") %>
<% else %>
  <% if @items.present? %>
    <p class="text-info"><%= t("workflow.master_message") %></p>
  <% else %>
    <p><%= button_tag t("workflow.create_branch"), type: "button", class: "btn btn-outline-secondary create-branch" %></p>
  <% end %>
  <% caption = t("workflow.branch_page") %>
<% end %>
<div class="result">
  <%= render(file: "workflow/pages/branch", locals: { caption: caption }) if @items.present? %>
</div>
