<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= f.ss_field_set :related_page_ids, tt: true do %>
  <% render_template = proc do |id, name| %>
    <tr data-id="<%= id %>">
      <td><%= f.hidden_field "related_page_ids[]", id: nil, value: id %> <%= name %></td>
      <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect" %></td>
    </tr>
  <% end %>

  <div class="ajax-select">
    <%= link_to t("cms.apis.pages.index"), cms_apis_pages_path, class: "ajax-box btn btn-outline-secondary btn-sm" %>
    <%= f.hidden_field "related_page_ids[]", id: nil, value: "", class: "ajax-hidden-ids" %>

    <div class="table-responsive">
      <table class="index ajax-selected table table-striped">
        <thead>
          <tr>
            <th class="name"><%= @model.t :name %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @item.related_pages.each do |page| %>
            <% render_template.call(page.id, page.host) %>
          <% end %>
        </tbody>
      </table>
    </div>

    <script type="text/html" class="ajax-item-template">
      <% render_template.call("#id", "#name") %>
    </script>
  </div>
<% end %>

<%= f.ss_select_set :related_page_sort, tt: true, include_blank: true %>
