<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>
<%= f.ss_select_set :twitter_card, tt: true %>
<%= f.ss_field_set :twitter_username, tt: true do %>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">@</span>
    </div>
    <%= f.text_field :twitter_username %>
  </div>
<% end %>
<%= f.ss_field_set :twitter_default_image_url, tt: true %>
<%= f.ss_field_set :twitter_consumer_key, tt: true %>
<%= f.ss_field_set :twitter_consumer_secret, tt: true %>
<%= f.ss_field_set :twitter_access_token, tt: true %>
<%= f.ss_field_set :twitter_access_token_secret, tt: true %>
