<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= f.ss_select_set :contact_state, tt: true, include_blank: true %>

<%= f.ss_field_set :contact_group_id, tt: true, include_blank: true do %>
  <% render_template = proc do |id, name| %>
    <tr data-id="<%= id %>">
      <td><%= f.hidden_field "contact_group_id", id: nil, value: id %> <%= name %></td>
      <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect" %></td>
    </tr>
  <% end %>

  <div class="ajax-select">
    <%= link_to t("contact.search_groups.index"), contact_search_groups_path, class: "ajax-box btn btn-outline-secondary btn-sm" %>
    <%= f.hidden_field "contact_group_id", id: nil, value: "", class: "ajax-hidden-ids" %>

    <div class="table-responsive">
      <table class="index ajax-selected table table-striped">
        <thead>
          <tr>
            <th class="name"><%= Cms::Group.t :name %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if params[:action] =~ /new/ %>
            <% render_template.call(@cur_group.id, @cur_group.name) %>
          <% else %>
            <% group = SS::Group.find_by(id: @item.contact_group_id) rescue nil %>
            <% if group.present? %>
              <% render_template.call(group.id, group.name) %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <script type="text/html" class="ajax-item-template">
      <% render_template.call("#id", "#name") %>
    </script>
  </div>
<% end %>

<%= f.ss_field_set :contact_charge, tt: true %>

<%= f.ss_field_set :contact_tel, type: :tel, value: (params[:action] =~ /new/) ? @cur_group[:contact_tel] : @item.contact_tel, tt: true %>

<%= f.ss_field_set :contact_fax, type: :tel, value: (params[:action] =~ /new/) ? @cur_group[:contact_fax] : @item.contact_fax, tt: true %>

<%= f.ss_field_set :contact_email, type: :email, value: (params[:action] =~ /new/) ? @cur_group[:contact_email] : @item.contact_email, tt: true %>

<%= f.ss_field_set :contact_link_url, type: :url, value: (params[:action] =~ /new/) ? @cur_group[:contact_link_url] : @item.contact_link_url, tt: true %>

<%= f.ss_field_set :contact_link_name, value: (params[:action] =~ /new/) ? @cur_group[:contact_link_name] : @item.contact_link_name, tt: true %>
